.body {
    width: 800px;
    margin: 0 0;
    padding: 0 0;
}

main {
    width: 100%;
}

.jumbotron {
    border-radius: 0;
    padding-bottom: 4.8em;
}

.banner {
    text-align: center;
    background-image: url(../img/background-main.jpg);
    background-position: center left;
}

.text {
    color: #fff;
}

h1 {
    font-size: 2.6em;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;
    text-transform: uppercase;
}

.banner p {
    font-size: 1.1em;
    margin: 0 30px 25px;
    font-weight: lighter;
}

#btn-apply-form {
    width: 132px;
    height: 48px;
}

.fase-titulo {
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.fase-data {
    font-size: small;
    text-align: center;
}

@media screen and (max-width: 376px) {